# Fundamentos de Python

Python es un lenguaje de propósitos múltiples creado por el holandés [Guido van Rossum](https://gvanrossum.github.io/) en 1991.

Es un lenguaje de alto nivel, lo que significa que está optimizado para ser leído por personas en lugar de máquinas.

Es además un lenguaje interpretado, lo que significa que no se compila directamente a código máquina, sino que las instrucciones se ejecutan directamente mediante el intérprete de Python. Esto permite que se utilice de una manera interactiva, de manera tal que se pueda ejecutar cada línea de código a medida que se van escribiendo. Esto resulta muy útil para tareas que requieren mucha investigación, a diferencia de aquellas que requieren mucho diseño.

Python es un lenguaje de tipado dinámico, es decir, los tipos de datos de las variables son verificados en tiempo de ejecución y no es necesario especificarlos al momento de programar.

## Instalación

Si Python no está incluido por defecto en la distribución del sistema operativo, puede descargse [aquí](https://www.python.org/downloads/).

[Jupyter Notebook](https://jupyter.org/) es una aplicación web *open-source* que permite crear y compartir documentos con "código vivo" de manera tal que se pueda escribir código, ejecutarlo inmediatamente y visualizar los resultados en la misma página, además de poder entrelazarlo con texto en formato [Markdown](https://es.wikipedia.org/wiki/Markdown).

Para instalarlo bastará con ejecutar las siguientes líneas de comando:
```console
$ python3 -m pip install --upgrade pip
$ python3 -m pip install jupyter
```
Una vez instalado se podrá ejecutar con el siguiente comando, que iniciará la aplicación en el navegador web:
```console
$ jupyter notebook
```

## Funciones

Asignación y suma de variables:

In [1]:
x = 1
y = 2
x + y

3

Al evaluar la variable `x` en otra celda se muestra el mismo resultado que antes:

In [2]:
x

1

Si quisiéramos imprimir más de una variable en la misma celda se puede utilizar `print` para cada una de ellas.

In [4]:
print(x)
print(y)
print(x + y)

1
2
3

`sumar_numeros` es una función que recibe dos números y devuelve su suma.

In [3]:
def sumar_numeros(x, y):
    return x + y

sumar_numeros(1, 2)

3

Se puede reescribir la función `sumar_numeros` de manera tal que acepte un tercer parámetro de manera opcional.

In [5]:
def sumar_numeros(x,y,z=None):
    if (z == None):
        return x + y
    else:
        return x + y + z

print(sumar_numeros(1, 2))
print(sumar_numeros(1, 2, 3))

3
6

Todos los parámetros opcionales deben ir al final de la declaración.

En el siguiente ejemplo la función `sumar_numeros` permite un otro parámetro opcional más.

In [7]:
def sumar_numeros(x, y, z=None, flag=False):
    if (flag):
        print('El flag es verdadero.')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(sumar_numeros(1, 2, flag=True))

El flag es verdadero.
3

Las funciones también pueden ser asignadas a variables y ser posteriormente ejecutadas directamente mediante las variables.

In [8]:
def sumar_numeros(x,y):
    return x+y

a = sumar_numeros
a(1,2)

3

## Tipos y colecciones

La ausencia de tipado estático en Python no significa que no existan tipos. Python tiene una función incorporada llamada `type` que muestra de qué tipo es una referencia dada. Algunos de los tipos más comunes son enteros (*int*), cadenas de caracteres (*str*), el tipo *None*, como también el tipo de funciones.

In [9]:
type('Esto es una cadena de caracteres')

str

In [10]:
type(None)

NoneType

In [11]:
type(1)

int

In [12]:
type(1.0)

float

In [13]:
type(sumar_numeros)

function

<br>
Existen tres tipos principales de colecciones nativas de Python:
- tuplas,
- listas y
- diccionarios

Las tuplas son estructuras de datos inmutables. Es decir, una tupla contiene elementos en un determinado orden pero no puede ser alterada una vez creada. Se crean utilizando paréntesis y se pueden incluir datos de tipos distintos.

In [17]:
x = (1, 'a', 2, 'b')
type(x)

tuple

Las listas son estructuras de datos similares a las tuplas pero son mutables. Es decir, se puede modificar su longitud, su cantidad de elementos y los valores de cada uno de ellos.

In [19]:
x = [1, 'a', 2, 'b']
type(x)

list

Existen muchas maneras de alterar el contenido de una lista. Una de ellas es mediante la función `append()`, que permite agregar nuevos elementos al final de la lista.

In [31]:
x.append(3.3)
x

[1, 'a', 2, 'b', 3.3, 3.3, 3.3, 3.3, 3.3, 3.3]

Tanto las tuplas como las listas son tipos iterables, de manera tal que se puede escribir ciclos para recorrer cada uno de sus elementos. La forma más común es mediante la sentencia `for`, similar a otros lenguajes pero no hace falta especificar ningún tipo de dato.

In [21]:
for item in x:
    print(item)

1
a
2
b
3.3

Las listas y las tuplas también se pueden acceder como los arreglos en otros lenguajes, es decir, mediante corchetes.
Por lo tanto, otra manera de recorrer una lista es incrementando un contador desde la posición cero hasta aquella  dada por su tamaño, mediante la función `len()`.

In [26]:
i = 0
while( i != len(x) ):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

Las listas y tuplas soportan también algunas operaciones matemáticas básicas. Por ejemplo, el signo `+` concatena dos listas y el signo `*` repite su contenido la cantidad de veces especificada.

In [34]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [36]:
[1, 2] * 3

[1, 2, 1, 2, 1, 2]

El operador `in` permite verificar si un elemento pertenece a la lista.

In [37]:
1 in [1, 2, 3]

True

Quizás las operaciones más interesantes que se pueden hacer con listas son las de rebanar (*slicing*). En Python el operador de índice (corchete) adminte múltiples valores. El primer parámetro es la ubicación de inicio y el segundo parámetro indica el fin de la rebanada.

In [40]:
x = 'Esto es una cadena de caracteres'
print(x[0])   # primer caracter
print(x[0:1]) # primer caracter pero explicitando el final de la rebanada
print(x[0:2]) # primeros dos caracteres

E
E
Es

Esto devolverá el último elemento de la lista:

In [41]:
x[-1]

's'

Esto devolverá la porción que comienza con el sexto elemento desde el final y deteniéndose en el segundo elemento desde el final.

In [43]:
x[-6:-2]

'cter'

Esto es una porción desde el principio de la cadena de caracteres hasta el tercer elemento.

In [44]:
x[:3]

'Est'

Y esto obtiene una porción de la lista desde el cuarto elemento hasta el final.

In [45]:
x[3:]

'o es una cadena de caracteres'

Las cadenas de caracteres son simplemente listas que contienen elementos de tipo caracter. Por lo tanto, todas las operaciones que se pueden hacer sobre una lista también se pueden realizar sobre una cadena de caracteres.

In [46]:
primer_nombre = 'Juan'
apellido = 'Pérez'

print(primer_nombre + ' ' + apellido)
print(primer_nombre * 3)
print('Juan' in primer_nombre)

Juan Perez
JuanJuanJuan
True

La función `split` devuelve una lista the todas las palabras de una cadena de caracteres o una lista separada por un caracter determinado.

In [48]:
primer_nombre = 'Juan Pablo Pérez'.split(' ')[0] # [0] selecciona el primer elemento de la lista
apellido = 'Juan Pablo Pérez'.split(' ')[-1] # [-1] selecciona el último elemento de la lista
print(primer_nombre)
print(apellido)

Juan
Pérez

Es necesario asegurarse de que todos las variables sean convertidas a cadenas de caracteres antes de concatenarlas.

In [50]:
'Juan' + str(2)

'Juan2'

<br>
Los **diccionarios** son similares a las listas y tuplas en el sentido de que contienen una colección de elementos, pero cada uno de sus elementos tiene una etiqueta y no tienen un orden. Esto significa que por cada *valor* que se agregue a un diccionario se debe proveer también su correspondiente *clave*.

In [51]:
x = {'Juan Pérez': 'jperez@gmail.com',
     'Bill Gates': 'billg@microsoft.com'}
x['Juan Pérez'] # se obtiene un valor mediante el operador de índices

'jperez@gmail.com'

In [52]:
x['María González'] = None
x['María González']

<br>
Existen varias maneras de recorrer un diccionario. Por ejemplo, se puede recorrer sobre cada clave y acceder al valor en cada iteración.

In [54]:
for nombre in x:
    print(x[nombre])

jperez@gmail.com
billg@microsoft.com
None

También se puede iterar directamente sobre los valores ignorando las claves.

In [55]:
for email in x.values():
    print(email)

jperez@gmail.com
billg@microsoft.com
None

<br>
Finalmente, también es posible recorrer tanto la clave como el valor del elemnto al mismo tiempo.

In [56]:
for nombre, email in x.items():
    print(nombre)
    print(email)

Juan Pérez
jperez@gmail.com
Bill Gates
billg@microsoft.com
María González
None

Este último ejemplo incluye el concepto de desempaquetado, que consiste en asignar en un único paso el contenido de una colección a varias variables.

In [57]:
x = ('Juan', 'Pérez', 'jperez@gmail.com')
primer_nombre, apellido, email = x

In [58]:
primer_nombre

'Juan'

In [59]:
apellido

'Pérez'

In [60]:
email

'jperez@gmail.com'

Es necesario asegurarse que la cantidad de valores a desempaquetar coincida con la cantidad de variables asignadas para que no se produzcan errores.

## Más sobre cadenas de caracteres

Python tiene un método incorporado para facilitar el formato de las cadenas de caracteres.

In [65]:
registro_ventas = {
'precio': 3.24,
'cant_elementos': 4,
'persona': 'Juan'}

sentencia_ventas = '{} compró {} elemento(s) a un precio de {} cada uno, con un total de {}'

print(sentencia_ventas.format(registro_ventas['persona'],
                              registro_ventas['cant_elementos'],
                              registro_ventas['precio'],
                              registro_ventas['cant_elementos'] * registro_ventas['precio']))

Juan compró 4 elemento(s) a un precio de 3.24 cada uno, con un total de 12.96

## Lectura y escritura de archivos CSV

El archivo `mpg.csv` contiene datos sobre el consumo de combustible de 234 automóbiles distintos.

* mpg : millas por galón
* class : clasificación del automóbil
* cty : consumo de mpg en ciudad
* cyl : cantidad de cilindros
* displ : cilindrada (en litros)
* drv : f = tracción delantera, r = tracción trasera, 4 = 4x4
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : consumo de mpg en autopista
* manufacturer : fabricante del auto
* model : modelo del auto
* trans : tipo de transmisión
* year : model year

In [67]:
import csv

%precision 2

with open('datos/mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:2] # Los primeros dos diccionarios de la lista

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')])]

`csv.Dictreader` lee cada línea del archivo CSV y crea diccionarios a partir de ellas en donde el nombre de las columnas pasan a ser las claves de los diccionarios.

Mediante `len` se observa que la lista está constituida por 234 diccionarios.

In [68]:
len(mpg)

234

El método `keys` devuelve los nombres de las columnas del CSV.

In [70]:
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

De la siguiente manera se obtiene el consumo de combustible promedio en ciudad sobre todos los autos. Como todos los valores de los diccionarios son cadenas de caracteres, es necesario convertirlos a *float*s primero.

In [71]:
sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

Similarmente se puede conseguir el valor  de consumo de combustible promedio en autopista de todos los autos.

In [72]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

23.44

Utilizando `set` se obtiene los valores únicos para un determinado número de cilindros que tienen los autos del conjunto de datos.

In [73]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

En este otro ejemplo más complejo se agrupa primero los autos por el número de cilindros y se calcula el millaje por galón (mpg) promedio de cada grupo.

In [74]:
CtyMpgByCyl = []

for c in cylinders: # iterar sobre todos los niveles de cilindros
    summpg = 0
    cyltypecount = 0
    for d in mpg: # iterar sobre todos los diccionarios
        if d['cyl'] == c: # si el tipo de cilindro coincide,
            summpg += float(d['cty']) # agregarlo al cty mpg
            cyltypecount += 1 # incrementar el contador
    CtyMpgByCyl.append((c, summpg / cyltypecount)) # agregar la tupla ('cilindro', 'mpg promedio')

CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

Para realizar otro ejemplo similar, primero se utiliza `set` para devolver los valores únicos para las clases del conjunto de datos.

In [75]:
vehicleclass = set(d['class'] for d in mpg) # cuáles son los tipos de clases
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

Luego, se calcula el mpg en autopista para cada clase de vehículo del conjunto de datos.

In [76]:
HwyMpgByClass = []

for t in vehicleclass: # iterar sobre todas las clases de vehículos
    summpg = 0
    vclasscount = 0
    for d in mpg: # iterar sobre todos los diccionarios
        if d['class'] == t: # si la clase de vehículo coincide,
            summpg += float(d['hwy']) # agregarlo al mpg
            vclasscount += 1 # incrementar el contador
    HwyMpgByClass.append((t, summpg / vclasscount)) # agregar la tupla ('class', 'avg mpg')

HwyMpgByClass.sort(key=lambda x: x[1])
HwyMpgByClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

## Fechas y horas

In [78]:
import datetime as dt
import time as tm

El método `time` devuelve el tiempo actual en segundos desde la fecha de referencia (1 de enero de 1970).

In [105]:
tm.time()

1543359973.58

Se puede obtener una marca de tiempo legible mediante el método `fromtimestamp`.

In [107]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2018, 11, 27, 20, 8, 30, 361721)

El objeto datetime tiene los atributos correspondientes al año, mes, día, hora, minuts y segundos, que pueden ser accedidos por separado.

In [108]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second # get year, month, day, etc.from a datetime

(2018, 11, 27, 20, 8, 30)

`timedelta` es una duración que expresa la diferencia entre dos fechas.

In [109]:
delta = dt.timedelta(days = 100) # Crea un timedelta de 100 días
delta

datetime.timedelta(100)

`date.today` devuelve la fecha local actual.

In [111]:
today = dt.date.today()
today

datetime.date(2018, 11, 27)

In [112]:
today - delta # La fecha hace 100 días

datetime.date(2018, 8, 19)

In [113]:
today > today-delta # comparación de fechas

True

## Objectos y la función map()

Una clase en Python se puede definir mediante la palabra reservada `class` seguida del nombre de la clase comenzando con letra mayúscula. Todo lo que esté debajo de esta declaración e indentado estará dentro del alcance de la clase.

In [114]:
class Person:
    departmento = 'Computación' # una variable de clase

    def set_nombre(self, nuevo_nombre): # un método
        self.nombre = nuevo_nombre
    def set_ubicacion(self, nueva_ubicacion):
        self.ubicacion = nueva_ubicacion

In [115]:
person = Person()
person.set_nombre('Juan Pérez')
person.set_ubicacion('San Telmo, CABA, Argentina')
print('{} vive en {} y trabaja en el departamento de {}'.format(person.nombre, person.ubicacion, person.departmento))

Juan Pérez vive en San Telmo, CABA, Argentina y trabaja en el departamento de Computación

<br>
La función `map` es una de las bases de la programación funcional en Python. La programación funcional es un paradigma de programación en el cual se declaran explícitamente todos los parámetros que podrían cambiar a través de la ejecución de una determinada función.

La función `map` devuelve un iterador que aplica la función recibida por parámetro a acada elemento de la colección también recibida por parámetro.

El siguiente ejemplo se encarga de encontrar el valor mínimo de cada par de elementos de dos listas, pasando la función `min` como parámetro de la función `map`:

In [117]:
lista1 = [10.00, 11.00, 12.34, 2.34]
lista2 = [9.00, 11.10, 12.34, 2.01]
menor = map(min, lista1, lista2)
menor

La función `map` devuelve un objeto map, que es iterable, por lo cual se lo puede recorrer para visualizar los resultados:

In [118]:
for item in menor:
    print(item)

9.0
11.0
12.34
2.01

<br>
# The Python Programming Language: Lambda and List Comprehensions

<br>
Here's an example of lambda that takes in three parameters and adds the first two.

In [ ]:
my_function = lambda a, b, c : a + b

In [ ]:
my_function(1, 2, 3)

<br>
Let's iterate from 0 to 999 and return the even numbers.

In [ ]:
my_list = []
for number in range(0, 1000):
    if number % 2 == 0:
        my_list.append(number)
my_list

<br>
Now the same thing but with list comprehension.

In [ ]:
my_list = [number for number in range(0,1000) if number % 2 == 0]
my_list

<br>
# The Python Programming Language: Numerical Python (NumPy)

In [ ]:
import numpy as np

<br>
## Creating Arrays

Create a list and convert it to a numpy array

In [ ]:
mylist = [1, 2, 3]
x = np.array(mylist)
x

<br>
Or just pass in a list directly

In [ ]:
y = np.array([4, 5, 6])
y

<br>
Pass in a list of lists to create a multidimensional array.

In [ ]:
m = np.array([[7, 8, 9], [10, 11, 12]])
m

<br>
Use the shape method to find the dimensions of the array. (rows, columns)

In [ ]:
m.shape

<br>
`arange` returns evenly spaced values within a given interval.

In [ ]:
n = np.arange(0, 30, 2) # start at 0 count up by 2, stop before 30
n

<br>
`reshape` returns an array with the same data with a new shape.

In [ ]:
n = n.reshape(3, 5) # reshape array to be 3x5
n

<br>
`linspace` returns evenly spaced numbers over a specified interval.

In [ ]:
o = np.linspace(0, 4, 9) # return 9 evenly spaced values from 0 to 4
o

<br>
`resize` changes the shape and size of array in-place.

In [ ]:
o.resize(3, 3)
o

<br>
`ones` returns a new array of given shape and type, filled with ones.

In [ ]:
np.ones((3, 2))

<br>
`zeros` returns a new array of given shape and type, filled with zeros.

In [ ]:
np.zeros((2, 3))

<br>
`eye` returns a 2-D array with ones on the diagonal and zeros elsewhere.

In [ ]:
np.eye(3)

<br>
`diag` extracts a diagonal or constructs a diagonal array.

In [ ]:
np.diag(y)

<br>
Create an array using repeating list (or see `np.tile`)

In [ ]:
np.array([1, 2, 3] * 3)

<br>
Repeat elements of an array using `repeat`.

In [ ]:
np.repeat([1, 2, 3], 3)

<br>
#### Combining Arrays

In [ ]:
p = np.ones([2, 3], int)
p

<br>
Use `vstack` to stack arrays in sequence vertically (row wise).

In [ ]:
np.vstack([p, 2*p])

<br>
Use `hstack` to stack arrays in sequence horizontally (column wise).

In [ ]:
np.hstack([p, 2*p])

<br>
## Operations

Use `+`, `-`, `*`, `/` and `**` to perform element wise addition, subtraction, multiplication, division and power.

In [ ]:
print(x + y) # elementwise addition     [1 2 3] + [4 5 6] = [5  7  9]
print(x - y) # elementwise subtraction  [1 2 3] - [4 5 6] = [-3 -3 -3]

In [ ]:
print(x * y) # elementwise multiplication  [1 2 3] * [4 5 6] = [4  10  18]
print(x / y) # elementwise divison         [1 2 3] / [4 5 6] = [0.25  0.4  0.5]

In [ ]:
print(x**2) # elementwise power  [1 2 3] ^2 =  [1 4 9]

<br>
**Dot Product:**  

$ \begin{bmatrix}x_1 \ x_2 \ x_3\end{bmatrix}
\cdot
\begin{bmatrix}y_1 \\ y_2 \\ y_3\end{bmatrix}
= x_1 y_1 + x_2 y_2 + x_3 y_3$

In [ ]:
x.dot(y) # dot product  1*4 + 2*5 + 3*6

In [ ]:
z = np.array([y, y**2])
print(len(z)) # number of rows of array

<br>
Let's look at transposing arrays. Transposing permutes the dimensions of the array.

In [ ]:
z = np.array([y, y**2])
z

<br>
The shape of array `z` is `(2,3)` before transposing.

In [ ]:
z.shape

<br>
Use `.T` to get the transpose.

In [ ]:
z.T

<br>
The number of rows has swapped with the number of columns.

In [ ]:
z.T.shape

<br>
Use `.dtype` to see the data type of the elements in the array.

In [ ]:
z.dtype

<br>
Use `.astype` to cast to a specific type.

In [ ]:
z = z.astype('f')
z.dtype

<br>
## Math Functions

Numpy has many built in math functions that can be performed on arrays.

In [ ]:
a = np.array([-4, -2, 1, 3, 5])

In [ ]:
a.sum()

In [ ]:
a.max()

In [ ]:
a.min()

In [ ]:
a.mean()

In [ ]:
a.std()

<br>
`argmax` and `argmin` return the index of the maximum and minimum values in the array.

In [ ]:
a.argmax()

In [ ]:
a.argmin()

<br>
## Indexing / Slicing

In [ ]:
s = np.arange(13)**2
s

<br>
Use bracket notation to get the value at a specific index. Remember that indexing starts at 0.

In [ ]:
s[0], s[4], s[-1]

<br>
Use `:` to indicate a range. `array[start:stop]`


Leaving `start` or `stop` empty will default to the beginning/end of the array.

In [ ]:
s[1:5]

<br>
Use negatives to count from the back.

In [ ]:
s[-4:]

<br>
A second `:` can be used to indicate step-size. `array[start:stop:stepsize]`

Here we are starting 5th element from the end, and counting backwards by 2 until the beginning of the array is reached.

In [ ]:
s[-5::-2]

<br>
Let's look at a multidimensional array.

In [ ]:
r = np.arange(36)
r.resize((6, 6))
r

<br>
Use bracket notation to slice: `array[row, column]`

In [ ]:
r[2, 2]

<br>
And use : to select a range of rows or columns

In [ ]:
r[3, 3:6]

<br>
Here we are selecting all the rows up to (and not including) row 2, and all the columns up to (and not including) the last column.

In [ ]:
r[:2, :-1]

<br>
This is a slice of the last row, and only every other element.

In [ ]:
r[-1, ::2]

<br>
We can also perform conditional indexing. Here we are selecting values from the array that are greater than 30. (Also see `np.where`)

In [ ]:
r[r > 30]

<br>
Here we are assigning all values in the array that are greater than 30 to the value of 30.

In [ ]:
r[r > 30] = 30
r

<br>
## Copying Data

Be careful with copying and modifying arrays in NumPy!


`r2` is a slice of `r`

In [ ]:
r2 = r[:3,:3]
r2

<br>
Set this slice's values to zero ([:] selects the entire array)

In [ ]:
r2[:] = 0
r2

<br>
`r` has also been changed!

In [ ]:
r

<br>
To avoid this, use `r.copy` to create a copy that will not affect the original array

In [ ]:
r_copy = r.copy()
r_copy

<br>
Now when r_copy is modified, r will not be changed.

In [ ]:
r_copy[:] = 10
print(r_copy, '\n')
print(r)

<br>
### Iterating Over Arrays

Let's create a new 4 by 3 array of random numbers 0-9.

In [ ]:
test = np.random.randint(0, 10, (4,3))
test

<br>
Iterate by row:

In [ ]:
for row in test:
    print(row)

<br>
Iterate by index:

In [ ]:
for i in range(len(test)):
    print(test[i])

<br>
Iterate by row and index:

In [ ]:
for i, row in enumerate(test):
    print('row', i, 'is', row)

<br>
Use `zip` to iterate over multiple iterables.

In [ ]:
test2 = test**2
test2

In [ ]:
for i, j in zip(test, test2):
    print(i,'+',j,'=',i+j)